{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
    
<br>
<div class="jumbotron text-center my-card">
  <h5 class="display-4">Signin</h5>

        <form action="{% url 'signin' %}" method="POST" ">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Signin" class="btn btn-outline-primary">
              <td>  
             <a href="{% url 'google_login' %}" class="btn btn-outline-black" > sign in using Google <i class="fab fa-google"></i> </a>
             </td>
        </form>
    </p>
  </div>
</div>
{% endblock content %}